{% extends "basic_template.html" %}


{% block content %}

<section class="default-section sec-padd">
    <div class="container">
        <div class="row">

            <!-- 网页图片 -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <figure class="img-box">
                    <a href="#"><img src="static/images/resource/12.jpg" alt=""></a>
                </figure>
            </div>
            <!-- ####### -->

            <!-- 网页内容 -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="text-content">
                    <h4>We are always looking for specific approach to each <br>cases & Provide full solutions.</h4>
                    <div class="text">
                        <p>We have built an enviable reputation in the consumer goods, heavy industry, high-tech, manufacturing, medical, recreational vehicle, and transportation sectors. multidisciplinary team of engineering experts.</p>
                    </div>
                    <ul class="default-list">
                        <li><i class="fa fa-check-square-o"></i>Which toil and pain can procure great pleasure.</li>
                        <li><i class="fa fa-check-square-o"></i>Any right to find man who annoying.</li>
                        <li><i class="fa fa-check-square-o"></i>Consequences, avoids a pain that produces.</li>
                    </ul>
                    <div class="text">
                        <p>Who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain.</p>
                    </div>
                </div>
            </div>
            <!-- ######## -->

        </div>
    </div>
</section>

{% endblock %}