<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>彼岸园 - 临终关怀网站</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/responsive.css">

</head>
<body>

<div class="boxed_wrapper">

<header class="top-bar">
    <div class="container">
        <div class="clearfix">
            <div class="col-left float_left">
                <div id="polyglotLanguageSwitcher" class="">
                    <ul class="social">
                        <li><i class="company-name"></i>彼岸园</li>
                    </ul>
                </div>

                <ul class="top-bar-info">
                </ul>
            </div>
            <div class="col-right float_right">
                <ul class="social">
                    <li><i class="icon-technology"></i>Phone: (123) 0200 12345</li>
                    <li><i class="icon-note2"></i>Mailus@TheExperts.com</li>
                </ul>
            </div>


        </div>


    </div>
</header>

<section class="theme_menu stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-logo">
                    <a href="index.html"><img src="static/images/logo/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-8 menu-column">
                <nav class="menuzord" id="main_menu">
                   <ul class="menuzord-menu">
                        <li><a href="index.html">网站首页</a></li>
						<li><a href="about.html">追忆先祖</a></li>
                        <li><a href="service.html">佛堂礼拜</a></li>
						<li><a href="project.html">净土文章</a></li>
						<li><a href="shop.html">公益咨询</a></li>
                        <li><a href="contact.html">关于我们</a></li>
                    </ul><!-- End of .menuzord-menu -->
                </nav> <!-- End of #main_menu -->
            </div>
        </div>


   </div> <!-- End of .conatiner -->
</section>

</div>

<!-- 网页源代码 -->

{% block content %}
{% endblock %}

<!-- ######### -->

<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-12 col-sm-12 col-xs-12">
                            <div class="footer-widget about-widget">
                                <h3 class="footer-title">关于我们</h3>

                                <div class="widget-content">
                                    <div class="text"><p>The Experts consulting over 20 years of experience we’ll ensure you always get the best guidance. We serve a clients at every level of their organization, in whatever capacity we can be most useful, whether as a trusted advisor.</p> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h3 class="footer-title">服务于您</h3>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a>临终关怀</a></li>
                                        <li><a>代您放生</a></li>
                                        <li><a>代助印经书</a></li>
                                        <li><a>...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-12 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <h3 class="footer-title">联系我们</h3>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><span class="icon-signs"></span>22/121 XX街, 北京, <br>NY 10012, USA</li>
                                        <li><span class="icon-phone-call"></span> 咨询电话: +123-456-7890</li>
                                        <li><span class="icon-e-mail-envelope"></span>Mail@Fortuneteam.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

             </div>
         </div>
     </div>

     <!--Footer Bottom-->
     <section class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>

            </div><!-- /.pull-right -->
        </div><!-- /.container -->
    </section>

</footer>

<!-- Scroll Top Button -->
    <button class="scroll-top tran3s color2_bg">
        <span class="fa fa-angle-up"></span>
    </button>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="static/js/jquery.js"></script>
    <!-- bootstrap js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="static/js/jquery-ui.js"></script>
    <!-- owl carousel js -->
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- jQuery validation -->
    <script src="static/js/jquery.validate.min.js"></script>

    <!-- mixit up -->
    <script src="static/js/wow.js"></script>
    <script src="static/js/jquery.mixitup.min.js"></script>
    <script src="static/js/jquery.fitvids.js"></script>
    <script src="static/js/bootstrap-select.min.js"></script>
    <script src="static/js/menuzord.js"></script>

    <!-- revolution slider js -->
    <script src="static/js/jquery.themepunch.tools.min.js"></script>
    <script src="static/js/jquery.themepunch.revolution.min.js"></script>
    <script src="static/js/revolution.extension.actions.min.js"></script>
    <script src="static/js/revolution.extension.carousel.min.js"></script>
    <script src="static/js/revolution.extension.kenburn.min.js"></script>
    <script src="static/js/revolution.extension.layeranimation.min.js"></script>
    <script src="static/js/revolution.extension.migration.min.js"></script>
    <script src="static/js/revolution.extension.navigation.min.js"></script>
    <script src="static/js/revolution.extension.parallax.min.js"></script>
    <script src="static/js/revolution.extension.slideanims.min.js"></script>
    <script src="static/js/revolution.extension.video.min.js"></script>

    <!-- fancy box -->
    <script src="static/js/jquery.fancybox.pack.js"></script>
    <script src="static/js/jquery.polyglot.language.switcher.js"></script>
    <script src="static/js/nouislider.js"></script>
    <script src="static/js/jquery.bootstrap-touchspin.js"></script>
    <script src="static/js/SmoothScroll.js"></script>
    <script src="static/js/jquery.appear.js"></script>
    <script src="static/js/jquery.countTo.js"></script>
    <script src="static/js/jquery.flexslider.js"></script>
    <script src="static/js/imagezoom.js"></script>
    <script id="map-script" src="static/js/default-map.js"></script>
    <script src="static/js/custom.js"></script>

</div>

</body>
</html>
